<html ng-app="myApp">
   <head>
      <title>Typescript Exemple</title>
      <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
   </head>
   <body>
       <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Angulars js </a></li>
      <li><a href="/typescript">Angulars js + Typescript</a></li>
    </ul>
  </div>
</nav>
      <div class="container">
         <div class="jumbotron">
            <h3>Users Liste typescript</h3>
            <div ng-controller="usersIndex">
               <ul ng-repeat="user in users">
                  <li> Nom : {{user.name}} Email: {{user.email}} </li>
                  <div id="addus">
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12" ng-controller="usersCreate">
               <form ng-submit="us.Create()" method="POST"|>
                  <div class="form-group">
                     <label for="usr">Name:</label>
                     <input type="text" class="form-control" id="usr" ng-model="us.name">
                  </div>
                  <div class="form-group">
                     <label for="eml">Email</label>
                     <input type="text" class="form-control" id="eml" ng-model="us.email">
                  </div>
                  <button  class="btn btn-primary">Send</button>
               </form>
            </div>
         </div>
      </div>
      
      <script src="/web/build/all.min.js"></script>
      <script src="/web/build/app.js"></script>

   </body>
</html>