<html ng-app="myApp">
   <head>
      <title>Typescript Exemple</title>
      <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <div class="jumbotron">
            <h3>Users Liste</h3>
            <div ng-controller="usersIndex">
               <ul ng-repeat="user in us.users">
                  <li> Nom : {{user.name}} Email: {{user.email}} </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12" ng-controller="usersCreate">
               <form ng-submit="us.Create()" method="POST"|>
                  <div class="form-group">
                     <label for="usr">Name:</label>
                     <input type="text" class="form-control" id="usr" ng-model="us.name">
                  </div>
                  <div class="form-group">
                     <label for="eml">Email</label>
                     <input type="text" class="form-control" id="eml" ng-model="us.email">
                  </div>
                  <button  class="btn btn-primary" ng-click="us.Refresh()">Send</button>
               </form>
            </div>
         </div>
      </div>
      
      <script src="/web/build/all.min.js"></script>
      <script src="/web/build/app.js"></script>

   </body>
</html>